html {
    background: black;
    overflow-x: hidden;
}

@keyframes fadeInGlow-Top {
  0% {
    opacity: 1;
    text-shadow: 0 0 0px rgba(255, 255, 255, 0);
  }
  100% {
    opacity: 1;
    /* Layered shadows for a deep neon effect */
    text-shadow: 0 0 10px rgb(255, 228, 197), 0 0 20px rgb(255, 228, 197), 0 0 30px rgb(255, 228, 197);
  }
}

@keyframes dropdown {
  0% {
    width: 100%;
    height: 0%;
    left: 0%;
    top: 0%;
  }

  100% {
    width: 100%;
    height: 95%;
    left: 0%;
    top: 0%;
  }
}

@keyframes dropdown-text {
  0% {
    left: 0%;
    top: -20%;
    opacity: 0;
  }

  100% {
    top: 80px;
    left: 10px;
    opacity: 1;
  }
}

@keyframes dropup-text {
  0% {
    top: 80px;
    left: 10px;
    opacity: 1;
  }

  100% {
    left: 0%;
    top: -20%;
    opacity: 0;
  }
}

@keyframes dropup {
  0% {
    width: 100%;
    height: 95%;
    left: 0%;
    top: 0%;
  }

  100% {
    width: 100%;
    height: 0%;
    left: 0%;
    top: 0%;
  }
}

.page {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.top-banner {
  position: absolute;
  height: 10%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(25, 25, 25, 255);  
}

.top-banner-text {
  position: absolute;
  font-size: 48px;
  color: rgb(241, 230, 188);
  left: 2%;
  top: 23%;
  text-decoration: underline;
}

.top-banner-text a {
  position: absolute;
  font-size: 48px;
  color: rgb(241, 230, 188);
  left: 2%;
  top: 23%;
  text-decoration: underline;
}

.top-banner-text a:hover {
  animation: fadeInGlow-Top 1s forwards;
}

.front-text {
  position: absolute;
  font-size: 48px;
  color: rgb(255, 214, 127);
  top: 15%;
  width: 75%;
  left: 12.5%;
}

.discover-top {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0%;
    top: 0%;
    background-color: rgb(20 ,35 ,28);
    text-anchor: middle;
    border: 1px solid;
    border-color: rgb(36, 65, 53);
    z-index: 4;
}

.discover-top-text {
  color: rgb(255, 217, 166);
  font-size: 32px;
  padding: 10px;
}

.discover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    text-anchor: middle;
    border: 1px solid;
    border-color: rgb(36, 65, 53);
    background-color: rgb(16, 26, 22);
}

.discover-text {
  position: absolute;
  top: 80px;
  left: 10px;
  color: rgb(255, 217, 166);
  font-size: 32px;
}

.discover-inv {
  position: absolute;
  height: 70%;
  width: 35%;
  top: 74%;
  left: 4%;
  z-index: 5;
}

.discover2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  text-anchor: middle;
  border: 1px solid;
  border-color: rgb(36, 65, 53);
  background-color: rgb(16, 26, 22);
}

.discover-top2 {
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0%;
  top: 0%;
  background-color: rgb(20 ,35 ,28);
  text-anchor: middle;
  border: 1px solid;
  border-color: rgb(36, 65, 53);
  z-index: 4;
}

.discover-top-text2 {
  color: rgb(255, 217, 166);
  font-size: 32px;
  padding: 10px;
}

.discover-text2 {
  position: absolute;
  top: 160px;
  left: 10px;
  color: rgb(255, 217, 166);
  font-size: 32px;
}

.discover-inv2 {
  position: absolute;
  height: 60%;
  width: 35%;
  top: 90%;
  left: 54%;
  z-index: 5;
}

.discover3 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    text-anchor: middle;
    border: 1px solid;
    border-color: rgb(36, 65, 53);
    background-color: rgb(16, 26, 22);
}

.discover-top3 {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0%;
    top: 0%;
    background-color: rgb(20 ,35 ,28);
    text-anchor: middle;
    border: 1px solid;
    border-color: rgb(36, 65, 53);
    z-index: 4;
}

.discover-top-text3 {
  color: rgb(255, 217, 166);
  font-size: 27px;
  padding: 10px;
}

.discover-text3 {
  position: absolute;
  top: 160px;
  left: 10px;
  color: rgb(255, 217, 166);
  font-size: 32px;
}

.discover-inv3 {
  position: absolute;
  height: 60%;
  width: 35%;
  top: 150%;
  left: 4%;
  z-index: 5;
}

.discover-inv:hover .discover {
  animation: dropdown 0.9s forwards;
}

.discover-inv:hover .discover-text {
  animation: dropdown-text 0.9s forwards
}

.discover-inv:not(:hover) .discover {
  animation: dropup 0.9s forwards;
}

.discover-inv:not(:hover) .discover-text {
  animation: dropup-text 0.9s forwards;
}


.discover-inv2:hover .discover2 {
  animation: dropdown 0.9s forwards;
}

.discover-inv2:hover .discover-text2 {
  animation: dropdown-text 0.9s forwards
}

.discover-inv2:not(:hover) .discover2 {
  animation: dropup 0.9s forwards;
}

.discover-inv2:not(:hover) .discover-text2 {
  animation: dropup-text 0.9s forwards;
}

.discover-inv3:hover .discover3 {
  animation: dropdown 0.9s forwards;
}

.discover-inv3:hover .discover-text3 {
  animation: dropdown-text 0.9s forwards
}

.discover-inv3:not(:hover) .discover3 {
  animation: dropup 0.9s forwards;
}

.discover-inv3:not(:hover) .discover-text3 {
  animation: dropup-text 0.9s forwards;
}